.toast {
    border-radius: 4px;
    font-size: 14px;
}

.compares-main .entry-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background: #fff;
    z-index: 1;
    transition: all linear .3s;
}

@media (max-width: 767px) {
    .compares-main .entry-header {
        position: static;
    }
}
