.modal {
   opacity: 0;
   visibility: hidden;
   width: 100%;
   max-width: 500px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 950;
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   text-align: center;
   padding: 50px 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
   max-height: 94vh;
   overflow: auto;

   &.add-review {
       max-width: 600px;
       padding: 50px 20px;
   }
}

.modal-based-theme h3 {
    font-weight: 700;
}

.modal-based-theme #modal-post-title {
    font-weight: 700;
}

.modal-content-btn {
    display: flex;
    justify-content: space-around;
}

.modal-content-btn #yes {
    background: green;
    font-weight: 600;
}

.modal-content-btn #yes:hover {
    opacity: 0.8;
}

.modal-content-btn #no {
    background: red;
    font-weight: 600;
}

.modal-content-btn #no:hover {
    opacity: 0.8;
}

.modal-content__buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}

.modal.active {
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}

// .modal.add-review .modal-content {
//     max-height: 60vh;
//     overflow: auto;
// }

@media (max-width: 630px) {
    .modal.add-review {
        max-width: calc(100% - 30px);
    }
}

@media (max-width: 539px) {
	.modal {
	   max-width: calc(100% - 30px);
	}
}

@media (max-width: 439px) {
	.modal {
	   padding: 30px 20px;

       &.add-review {
           padding: 20px 10px;
       }
	}

	.modal__cross {
	   top: 10px;
	   right: 10px;
	}

	.modal-based-theme h3 {
		font-size: 20px;
	}

	.modal-based-theme .modal-content-btn a {
		font-size: 14px;
		padding: 6px 10px;
	}
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: 0.3s all;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
