html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media (max-width: 1499px) {
    html {
        font-size: 56.25%;
    }
}
@media (max-width: 1199px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 43.75%;
    }
}
@media (max-width: 767px) {
    html {
        font-size: 37.5%;
    }
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color, #161616);
    background: var(--color-bg, #FFFFFF);

    &.js-overlay {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    @media (min-width: 577px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 100%;
        padding: 0 20px;
    }

    @media (min-width: 1290px) {
        max-width: 1290px;
    }

    @media (max-width: 576px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (max-width: 479px) {
        padding-right: 10px;
        padding-left: 10px;
    }

}

// .container {
//     max-width: 80%;
//     width: 100%;
//     margin: 0 auto;
//
//     @media (min-width: 2500px) {
//         max-width: 70%;
//     }
//
//     @media (max-width: 1349px) {
//         max-width: 90%;
//     }
//
//     @media (max-width: 991px) {
//         max-width: 93%;
//     }
//
//     @media (max-width: 576px) {
//         max-width: 100%;
//         width: auto;
//         margin: 0 15px;
//     }
// }

.container-ag {
    padding-right: 16px;
    padding-left: 16px;

    // @media (max-width: 576px) {
    //     padding-right: 15px;
    //     padding-left: 15px;
    // }

    @media (max-width: 479px) {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.container-dashboard {
    width: 100%;
    margin: 0 20px;

    @media (max-width: 576px) {
        margin: 0 15px;
    }
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header {
        padding: 18px 0;

        @media (max-width: 767px) {
            padding: 10px 0;
        }

        & .container {
            // @media (max-width: 1349px) {
            //     max-width: 100%;
            //     padding: 0 25px;
            // }

            @media (max-width: 576px) {
                padding: 0;
            }
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.site-main {
    margin-bottom: 60px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a, button {
    cursor: pointer;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

a, a:hover, a:focus, a:active, button, button:focus, input, select, textarea, .slick-slide {
    outline: none;
}

@each $name, $width_size in $width_sizes {
  .width-#{$name} {
    width: $width_size;
  }
}

@media (min-width: 577px) {
    .mt6 {
        margin-top: 6px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .mt40 {
        margin-top: 40px;
    }

    .mb6 {
        margin-bottom: 6px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .mb40 {
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .mt-smail-6 {
        margin-top: 6px;
    }

    .mt-smail-10 {
        margin-top: 10px;
    }

    .mt-smail-20 {
        margin-top: 20px;
    }

    .mt-smail-40 {
        margin-top: 40px;
    }

    .mb-smail-6 {
        margin-bottom: 6px;
    }

    .mb-smail-10 {
        margin-bottom: 10px;
    }

    .mb-smail-20 {
        margin-bottom: 20px;
    }

    .mb-smail-40 {
        margin-bottom: 40px;
    }
}

.custom-scroll {
	scrollbar-color: var(--Gray-200, #E4E7EC) var(--Gray-50, #F9FAFB); /* “slider color” “scrollbar color” */
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 8px;
		height: 4px;
		background-color: var(--Gray-50, #F9FAFB);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--Gray-200, #E4E7EC);
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--Gray-300, #D0D5DD);
	}
}
