html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media (max-width: 1499px) {
    html {
        font-size: 56.25%;
    }
}
@media (max-width: 1199px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 43.75%;
    }
}
@media (max-width: 767px) {
    html {
        font-size: 37.5%;
    }
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $ff-inter; //"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color, #161616);
    background: var(--color-bg, #FFFFFF);

    &.js-overlay {
        overflow: hidden;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    @media (min-width: 1290px) {
        max-width: calc(1250px + 1rem);
    }

    @media (max-width: 1330px) {
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (max-width: 479px) {
        padding-right: 10px;
        padding-left: 10px;
    }

}

.container-ag {
    padding-right: 40px;
    padding-left: 40px;

    &.breadcrumbs-wrap {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    @media (min-width: 1921px) {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;

        &.breadcrumbs-wrap {}
    }

    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (max-width: 479px) {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.container-dashboard {
    width: 100%;
    margin: 0 20px;

    @media (max-width: 576px) {
        margin: 0 15px;
    }
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header {
        padding: 18px 0;

        @media (max-width: 767px) {
            padding: 10px 0;
        }

        & .container {}
    }

    &__footer {
        margin-top: auto;
    }
}

.site-main {
    margin-bottom: 60px;
}

.site-main-search {
    margin-bottom: 60px;

    & .archive-glampings {
        margin-top: 40px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a, button {
    cursor: pointer;
}

a:hover {
    color: var(--green-link, #467A3C);
    text-decoration: underline;
}

button {
    border: none;
    background: none;
}

a, a:hover, a:focus, a:active, button, button:focus, input, select, textarea, .slick-slide {
    outline: none;
}

@each $name, $width_size in $width_sizes {
  .width-#{$name} {
    width: $width_size;
  }
}

.w100 {
    width: 100%;
}

.w-160 {
    width: 160px;
}

.w-200 {
    width: 200px;
}

.jcc {
    justify-content: center;
}

@media (min-width: 577px) {
    .mt6 {
        margin-top: 6px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .mt40 {
        margin-top: 40px;
    }

    .mb6 {
        margin-bottom: 6px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .mb40 {
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .mt-smail-6 {
        margin-top: 6px;
    }

    .mt-smail-10 {
        margin-top: 10px;
    }

    .mt-smail-20 {
        margin-top: 20px;
    }

    .mt-smail-40 {
        margin-top: 40px;
    }

    .mb-smail-6 {
        margin-bottom: 6px;
    }

    .mb-smail-10 {
        margin-bottom: 10px;
    }

    .mb-smail-20 {
        margin-bottom: 20px;
    }

    .mb-smail-40 {
        margin-bottom: 40px;
    }
}

.custom-scroll {
	scrollbar-color: rgb(70, 122, 60) var(--Gray-50, #F9FAFB); /* var(--Gray-200, #E4E7EC) “slider color” “scrollbar color” */
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 8px;
		height: 4px;
		background-color: var(--Gray-50, #F9FAFB);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(70, 122, 60); //var(--Gray-200, #E4E7EC) rgb(70, 122, 60)
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--Gray-300, #D0D5DD);
	}

    &::-webkit-scrollbar-track {
      background: var(--Gray-50, #F9FAFB);
    }
}

.scroll-no::-webkit-scrollbar {
  width: 0;
}

// Preloader
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.3s;
    opacity: 1;
}
.preloader-remove {
    opacity: 0;
    z-index: -10;
}

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:var(--color-preloader-load1);animation-delay:-1.5s}
.load :nth-child(2){background:var(--color-preloader-load2);animation-delay:-1s}
.load :nth-child(3){background:var(--color-preloader-load3);animation-delay:-0.5s}
.load :last-child{background:var(--color-preloader-load4)}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

// Loader
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--color-primary), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.5), -1.8em -1.8em 0 0em rgba(25,33,177, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.7), 1.8em -1.8em 0 0em var(--color-primary), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.5), 1.8em -1.8em 0 0em rgba(25,33,177, 0.7), 2.5em 0em 0 0em var(--color-primary), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.5), 2.5em 0em 0 0em rgba(25,33,177, 0.7), 1.75em 1.75em 0 0em var(--color-primary), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.5), 1.75em 1.75em 0 0em rgba(25,33,177, 0.7), 0em 2.5em 0 0em var(--color-primary), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.5), 0em 2.5em 0 0em rgba(25,33,177, 0.7), -1.8em 1.8em 0 0em var(--color-primary), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.5), -1.8em 1.8em 0 0em rgba(25,33,177, 0.7), -2.6em 0em 0 0em var(--color-primary), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.5), -2.6em 0em 0 0em rgba(25,33,177, 0.7), -1.8em -1.8em 0 0em var(--color-primary);
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--color-primary), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.5), -1.8em -1.8em 0 0em rgba(25,33,177, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.7), 1.8em -1.8em 0 0em var(--color-primary), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.5), 1.8em -1.8em 0 0em rgba(25,33,177, 0.7), 2.5em 0em 0 0em var(--color-primary), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.5), 2.5em 0em 0 0em rgba(25,33,177, 0.7), 1.75em 1.75em 0 0em var(--color-primary), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.5), 1.75em 1.75em 0 0em rgba(25,33,177, 0.7), 0em 2.5em 0 0em var(--color-primary), -1.8em 1.8em 0 0em rgba(25,33,177, 0.2), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.5), 0em 2.5em 0 0em rgba(25,33,177, 0.7), -1.8em 1.8em 0 0em var(--color-primary), -2.6em 0em 0 0em rgba(25,33,177, 0.2), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.5), -1.8em 1.8em 0 0em rgba(25,33,177, 0.7), -2.6em 0em 0 0em var(--color-primary), -1.8em -1.8em 0 0em rgba(25,33,177, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(25,33,177, 0.2), 1.8em -1.8em 0 0em rgba(25,33,177, 0.2), 2.5em 0em 0 0em rgba(25,33,177, 0.2), 1.75em 1.75em 0 0em rgba(25,33,177, 0.2), 0em 2.5em 0 0em rgba(25,33,177, 0.2), -1.8em 1.8em 0 0em rgba(25,33,177, 0.5), -2.6em 0em 0 0em rgba(25,33,177, 0.7), -1.8em -1.8em 0 0em var(--color-primary);
  }
}
