.site__footer {
    background: var(--footer-color);
    color: var(--text-color-light);

    @media (max-width: 1199px) {
        padding-bottom: 50px;
    }
}

.footer-generale {
    // background: var(--footer-color);
    padding: 100px 0px 0px;

    &__newsletter {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 70px;

        &__item {
            width: calc((100% - 30px) / 2);

            @media (max-width: 991px) {
                width: 100%;
            }

            & h2 {
                color: var(--white);
            }

            &__form {
                position: relative;
                margin-top: 23px;

                & input {
                    width: 100%;
                    height: 60px;
                    border: none;
                    outline: none;
                    padding: 0px 200px 0px 20px;
                    border-radius: 8px;
                    background: var(--white);
                    box-shadow: var(--input-shadow);

                    @media (max-width: 767px) {
                        padding: 0px 100px 0px 20px;
                    }
                }

                & button {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    height: 50px;
                    padding: 10px 30px;

                    & span {
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__middle {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 55px;

        &__item {
            width: calc((100% - 90px) / 4);

            @media (max-width: 991px) {
                width: calc((100% - 30px) / 2);
            }

            @media (max-width: 576px) {
                width: 100%;
            }

            &__title {

                & h3 {
                    color: var(--text-color-footer-title);
                    font-weight: 500;
                    padding-bottom: 15px;
                    margin-top: 0;
                    margin-bottom: 25px;
                    border-bottom: 1px solid var(--text-color-footer-border);
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        bottom: -1px;
                        left: 0px;
                        width: 60px;
                        height: 2px;
                        background: var(--color-primary);
                    }
                }

                & img {
                    height: 50px;
                }

                &.logo {
                    margin-bottom: 14px;
                }
            }

            &__content {

                & ul {

                    & li {

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        & a {
                            color: var(--gray);
                            text-decoration: none;
                            transition: all linear .3s;

                            &:hover {
                                color: var(--white);
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    &__number {
                        margin-top: 0;
                        margin-bottom: 3px;
                        color: var(--chalk);
                    }
                }
            }
        }
    }

    &__bottom {
        padding: 50px 0px;
        display: flex;
        align-items: center;
        // justify-content: center;
        justify-content: space-evenly;
        border-top: 1px solid var(--text-color-footer-border);
    }
}

.footer-end {
    background: var(--footer-end-color);

    &__content {
        padding: 15px 0;
    }
}

.contact-item {
    display: flex;
    gap: 20px;

    & svg {
        flex: none;
        margin-top: 4px;

        & path {
            fill: var(--text-color-light);
        }
    }

    &__item {
        overflow: hidden;
        text-overflow: ellipsis;

        & span {
            display: block;
        }
    }
}

.cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    background: var(--grey-color);
    border-radius: 12px 12px 0 0;
    padding: 20px 40px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

    @media (max-width: 576px) {
        padding: 10px;
    }

    &__message p {
        color: #FFFFFF;
        font-size: 13px;

        & a {
            color: var(--link-color-dop);

            &:hover {
                color: #FFFFFF;
            }
        }
    }

    &__btn {
        display: flex;
        height: fit-content;
        padding: 6px;

        & svg {
            transition: 0.3s all;
        }

        &:hover svg {
            opacity: 0.4;
        }
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}
