.site__header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-bg);
    border-bottom: 1px solid var(--color-border-white);
    box-shadow: var(--header-shadow);
    z-index: 99;
    transition: all linear .3s;

    &.dashboard {
        position: static;
        border-bottom: 1px solid #f3f5f9;
        box-shadow: 0 1px 1px rgba(33, 40, 48, 0.01), 0 4px 4px rgba(33, 40, 48, 0.01), 0 16px 16px rgba(33, 40, 48, 0.01);
    }

    &.header-fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 3;
        background: var(--color-primary-dark);
        box-shadow: var(--header-fixed-shadow);
    }

    &.site-header-glemp-single {
        position: static;
    }
}

.header-generale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 40px;

    & svg path {
        fill: var(--text-color-light);
    }

	&__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: none;

        @media (max-width: 1199px) {
            width: 100%;

            &.dashboard {
                flex: 1;
                width: auto;
            }
        }

        &__slider-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40px;
            height: 40px;
            padding: 14px;
            border-radius: 50%;
            background: var(--chalk);
            z-index: 9;
            transition: all linear .3s;

            &:hover {
                background: var(--color-primary);

                & svg path {
                    fill: var(--white);
                }
            }

            &.dashboard {
                display: none;

                @media (max-width: 1199px) {
                    display: flex;
                }
            }

    	}

    	&__logo {
            display: flex;
            margin: 0 45px;

            @media (max-width: 1199px) {
                margin: 0 auto;
            }

            & img {
                width: auto;
                height: 40px;

                @media (max-width: 767px) {
                    height: 30px;
                }

                @media (max-width: 567px) {
                    height: 20px;
                }
            }

            &.dashboard {
                margin: 0 45px 0 0;

                @media (max-width: 1199px) {
                    margin: 0 auto;
                }
            }

    	}

    	&__user {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--text-color-light);
            transition: all linear .3s;

            &.user-aside {
                justify-content: flex-start;
            }

            &.dashboard {
                margin-left: 20px;
            }

            @media (max-width: 1199px) {
                display: none;

                &.dashboard {
                    display: flex;
                    // margin-left: 0;
                }
            }

            & svg {
                background: var(--white);
                border-radius: 50%;
                transition: 0.3s all;

                & .fa-primary{
                    fill: var(--white);
                    transition: 0.3s all;
                }
                & .fa-secondary{
                    opacity: .4;
                    transition: 0.3s all;
                }
            }

            & span {
                font-weight: 500;
                white-space: nowrap;

                &.avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: var(--chalk);
                    width: 40px;
                    height: 40px;
                    font-weight: 600;
                    transition: all linear .3s;
                }
            }

            &:hover {
                color: var(--color-primary);

                & .fa-secondary{
                    fill: var(--color-primary);
                    opacity: 1;
                }
            }
    	}

    	&__search-btn {
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 40px;
            height: 40px;
            padding: 13px;
            border-radius: 50%;
            background: var(--chalk);
            z-index: 9;
            transition: all linear .3s;

            &:hover {
                background: var(--color-primary);

                & svg path {
                    fill: var(--white);
                }
            }

            @media (max-width: 1199px) {
                display: flex;
            }

            & svg.svg-close {
                display: none;
            }

            &.active {

                & svg.svg-close {
                    display: block;
                }

                & svg.svg-search {
                    display: none;
                }
            }
    	}

	}

	&__form {
        // max-width: 500px;
        width: 100%;
        margin: 0px 50px;
        position: relative;
        transition: all linear .3s;

        &.search-page {
            max-width: 500px;
            margin: 0;
        }

        @media (max-width: 1199px) {
            display: none;
            opacity: 0;
            visibility: hidden;

            &.active {
                position: absolute;
                display: block;
                opacity: 1;
                visibility: visible;
                left: 0;
                margin: 0;
                padding: 0 20%;
            }

            &.search-page {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }

        @media (max-width: 767px) {
            // max-width: 100%;

            &.active {
                padding: 0 20%;
                // padding: 0 62px;
            }
        }

        &__search {
            border-radius: 8px;
            background: var(--chalk);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all linear .3s;

            &__search-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                flex: none;
                transition: all linear .3s;

                & svg {
                    width: 18px;
                }

                &:hover {
                    background: var(--color-primary);

                    & svg path {
                        // fill: var(--color-primary);
                        fill: #FFFFFF;
                    }
                }
        	}

            & input {
                width: 100%;
                height: 40px;
                background: transparent;
                padding: 8px;
            }

        	&__options-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: none;
                width: 45px;
                height: 45px;
                transition: all linear .3s;

                & svg {
                    width: 18px;
                }

                &:hover {
                    //background: var(--color-primary);

                    & svg path {
                        fill: var(--color-primary);
                    }
                }
        	}

    	}

    	&__options {

    	}
	}

	&__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: none;

        @media (max-width: 1199px) {
            display: none;
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 20px;
            padding: 0;
            margin: 0;

            &__item {
                position: relative;
                // padding: 12px;
                border-radius: 50%;
                background: var(--chalk);
                width: 40px;
                height: 40px;
                transition: all linear .3s;

                & a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;

                    & svg {
                        width: 100%;
                        height: 100%;
                    }

                    & sup {
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        // padding: 0px 6px;
                        line-height: 20px;
                        border-radius: 50%;
                        color: var(--white);
                        background: var(--color-primary);
                        border: 2px solid var(--white);
                        text-shadow: var(--primary-tshadow);
                        box-shadow: var(--primary-bshadow);
                        transition: all linear .3s;
                    }
                }

                & button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 12px;

                    & svg {
                        width: 100%;
                        height: 100%;
                    }

                    & sup {
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        // padding: 0px 6px;
                        line-height: 20px;
                        border-radius: 50%;
                        color: var(--white);
                        background: var(--color-primary);
                        border: 2px solid var(--white);
                        text-shadow: var(--primary-tshadow);
                        box-shadow: var(--primary-bshadow);
                        transition: all linear .3s;
                    }
                }

                &:hover {
                    background: var(--color-primary);

                    & svg path {
                        fill: var(--white);
                    }
                }
        	}
    	}

        &__add-btn {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 12px 20px;
            background: var(--color-primary);
            border-radius: 8px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: var(--white);
            margin-left: 40px;
            text-decoration: none;
            transition: all linear .3s;

            & svg path {
                fill: var(--white);
            }

            &:hover {
                background: var(--color-primary-dark);
                color: var(--white);
            }
        }

        &.dashboard {
            margin-left: auto;
        }
	}
}

.fa-primary {

}

.fa-secondary {

}

.header-fixed-height {
    height: 96px;

    @media (max-width: 1199px) {
        height: 76px;
    }

    @media (max-width: 767px) {
        height: 60px;
    }
}

.sidebar-nav {
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background: var(--sidebar-color-bg);
    z-index: 999;
    transition: all linear .3s;

    &.active {
        left: 0;
    }

    &__header {
        padding: 18px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-sidebar-border);

        &__logo {

            & img {
                height: 40px;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            text-shadow: var(--primary-tshadow);
            box-shadow: var(--primary-lshadow);
            transition: all linear .3s;

            &.dashboard-close {
                display: none;

                @media (max-width: 1199px) {
                    display: flex;
                }
            }

            & svg path {
                fill: var(--gray);
            }

            &:hover {
                background: var(--color-primary);

                & svg path {
                    fill: var(--white);
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100vh;

        &__profile {
            display: flex;
            gap: 20px;
            flex-direction: column;
            padding: 18px 15px;

            & .avatar {
                width: fit-content;
                border-radius: 50%;
                // border: 3px solid var(--color-primary);
                // margin-bottom: 10px;
                // margin-left: auto;
                // margin-right: auto;

                & svg {
                    // width: 120px;
                    border-radius: 50%;
                    border: 3px solid var(--color-sidebar-border);
                }

                & img {
                    width: 120px;
                    border-radius: 50%;
                    border: 3px solid var(--color-sidebar-border);
                }
            }

            & .link-lk {
                margin-bottom: 10px;

                & h4 {
                    margin: 0;
                }
            }

            & .header-generale__right__add-btn {
                gap: 8px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                padding: 8px 18px;

                &.add-btn-aside {
                    width: 100%;
                    justify-content: center;
                    margin: 0;
                }
            }

            & .header-generale__left__user {
                display: none;

                @media (max-width: 1199px) {
                    display: flex;
                }
            }

            & .header-generale__right__add-btn {
                display: none;

                @media (max-width: 1199px) {
                    display: flex;
                }
            }
        }

        &__menu {
            margin: 30px 15px 30px 15px;
        }

        &__footer {
            margin-top: auto;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 120px;
            text-align: center;
        }
    }
}

//
.mobile-nav {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    // padding: 8px 0;
    z-index: 99;
    background: var(--white);
    border-top: 0.5px solid rgba(200, 200, 200, 0.5);
    // border-radius: 10px 10px 0px 0px;
    // box-shadow: var(--mobile-nav-shadow);

    @media (max-width: 1023px) {
        display: block;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        @media (max-width: 767px) {
            margin: 10px 0;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 20px;

        @media (max-width: 767px) {
            gap: 12px;
            margin-left: 10px;
        }

        & a, button {
            width: 200px;

            @media (max-width: 767px) {
                width: 160px;
            }
        }

        &__icons {
            display: flex;
            align-items: center;
            gap: 11px;

            @media (max-width: 767px) {
                gap: 7px;
            }

            &__item {

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    // border: 1px solid #467a3c;
                    border-radius: 20px;
                    // background: #467a3c;

                    &.whatsapp-link {
                        background: #27D061;
                    }

                    &.viber-link {
                        background: #7360f2;
                    }

                    &.telegram-link {
                        background: #1D98DC;
                    }

                    &.phone-link {
                        background: #1D98DC;
                    }

                    @media (max-width: 767px) {
                        width: 30px;
                        height: 30px;
                    }

                    & svg {
                        width: 15px;
                        height: 15px;

                        @media (max-width: 767px) {
                            width: 14px;
                            height: 14px;
                        }

                        &.phone-svg {
                            width: 100%;
                            height: 100%;
                        }

                        & path {
                            fill: #FFFFFF;

                            &#phone-path {
                                fill: #323232;
                            }
                        }
                    }

                    // &:hover {
                    //     background: #FFFFFF;
                    //
                    //     & svg path {
                    //         fill: rgb(70, 122, 60);
                    //     }
                    // }
                }
            }
        }
    }

    &__right {
        margin-right: 10px;

        @media (max-width: 767px) {
            margin-right: 5px;
        }

        & button {
            display: flex;
            align-items: center;
            width: 35px;
            height: 35px;

            @media (max-width: 767px) {
                width: 25px;
                height: 25px;
            }
        }
    }

	&__group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 476px) {
            margin-right: 16px;
            margin-bottom: 6px;
        }

        &__widget {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--text-color-light);
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: none;

            &:nth-child(2) {
                margin-left: -20px;
            }

            &__icon {
                position: relative;
                display: flex;
            }

            & svg {
                fill: var(--text-color-light);

                &.mobile-nav-filtr-icon {
                    transform: rotate(90deg);
                }
            }

            &__text {
                @media (max-width: 476px) {
                    display: none;
                }
            }

            &__count {
                position: absolute;
                display: flex;align-items: center;
                top: -14px;
                right: -20px;
                width: 20px;
                height: 20px;
                justify-content: center;
                font-size: 8px;
                line-height: 20px;
                border-radius: 50%;
                color: var(--white);
                background: var(--color-primary);
                border: 2px solid var(--white);
                text-shadow: var(--primary-tshadow);
                box-shadow: var(--primary-bshadow);
                transition: all linear .3s;
            }

            &.button-filtr-icon {
                display: none;

                @media (max-width: 767px) {
                    display: flex;
                }
            }
    	}

        &__widget-add {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--text-color-light);
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: none;

            & svg {
                top: -36px;
                position: absolute;
                width: 60px;
                height: 60px;
                font-size: 16px;
                line-height: 42px;
                border-radius: 50%;
                margin-bottom: 0px;
                text-align: center;
                color: var(--white);
                background: var(--white);
                border: 8px solid var(--white);
                fill: var(--color-primary);
            }

            &__text {
                margin-top: 20px;

                @media (max-width: 476px) {
                    display: none;
                }
            }
        }

	}
}

.page-title-area {
    margin: 1rem 0 2rem;

    &__content {

        &__breadcrumb {}
    }
}

.breadcrumbs-wrap {
    margin-top: 49px;
    margin-bottom: 20px;

    @media (max-width: 1329px) {
        margin-top: 40px;
    }

    @media (max-width: 1023px) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @media (max-width: 476px) {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    &.glemp-single {
        margin-bottom: 0;
    }
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // padding: 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;

    @media (max-width: 476px) {
        font-size: 10px;
    }

    & span {
        display: flex;
        align-items: center;

        & a {
            text-decoration: none;
        }

        & svg {
            width: 14px;
            height: 14px;

            & path {
                fill: var(--text-color, #161616);
            }
        }
    }

    &__current {
        font-weight: 600;
        color: var(--green-link, #467A3C);
        // background: var(--color-primary);
        // padding: 0 4px;
        border-radius: 4px;
    }
}

.header-bottom-glemp-single {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);

    &.header-bottom-fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #FFFFFF;
        z-index: 99;
    }

    @media (max-width: 1023px) {
        display: flex;
        position: sticky;
        top: 0;
        margin-top: 8px;
        background: #FFFFFF;
        z-index: 99;
    }

    @media (max-width: 767px) {
        padding: 10px;
    }

    & a {}

    &__icons {
        display: flex;
        gap: 10px;

        @media (max-width: 767px) {
            font-size: 8px;
        }
    }
}
