h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    line-height: 1.2;
}
@media (max-width: 1199px) {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-bottom: 10px;
    }
}

h1, .h1 {
    font-size: 36px;
}
@media (max-width: 1199px) {
    h1, .h1 {
        font-size: 30px;
    }
}

h2, .h2 {
    font-size: 30px;
}
@media (max-width: 1199px) {
    h2, .h2 {
        font-size: 24px;
    }
}

h3, .h3 {
    font-size: 24px;
}
@media (max-width: 1199px) {
    h3, .h3 {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 22px;
}
@media (max-width: 1199px) {
    h4, .h4 {
        font-size: 18px;
    }
}

h5, .h5 {
    font-size: 20px;
}
@media (max-width: 1199px) {
    h5, .h5 {
        font-size: 16px;
    }
}

h6, .h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px;
    line-height: 1.875;
}
@media (max-width: 1199px) {
    p {
        margin: 0 0 10px;
    }
}
p:last-child {
    margin-bottom: 0;
}
p:only-child {
    margin-bottom: 0;
}

blockquote:last-child {
    margin-bottom: 0;
}

blockquote:only-child {
    margin-bottom: 0;
}

strong, b {
    font-weight: bold;
}
