:root {
    --color-primary: #1921B1;
    --color-primary-dark: #080E73;
    --color-primary-hover: #4D54D8;
    --color-primary-hover-dark: #2F3485;
    --color-primary-white: #7277D8;

    --color-primary-dop: #00B945;
    --color-primary-dop-dark: #00782D;
    --color-primary-dop-hover: #37DC74;
    --color-primary-dop-hover-dark: #238B49;
    --color-primary-dop-white: #63DC90;

    --footer-color: #080229;
    --footer-end-color: #0d0633;

    --text-color: #161616;
    --text-color-light: #555555;
    --text-color-footer-title: #bbbbbb;
    --text-color-footer-border: #333333;
    --text-color-footer-light: #6e7985;
    --text-color-label:  #777777;
    --text-color-file-help: #9f9f9f;
    --color-bg: #FFFFFF;
    --color-bg-dashboard: #fbfcfe;
    --color-border-glemp: #d3d3d3;

    --color-svg-form: #9f9f9f;
    --color-svg-single-icon: #2196f3;
    --color-option-hover: #e8e8e8;
    --reviews-color: #ffcf00;

    --white: #FFFFFF;
    --gray: #777777;
    --red: red;

    --sidebar-color-bg: #fbfbfb;

    --color-border-white: #FFFFFF;
    --color-border: #e8e8e8;
    --color-sidebar-border: #e8e8e8;
    --color-border-input: #b9b9b9;

    --link-color: #1921B1;
    --link-color-hover: #4D54D8;
    --chalk: #f5f5f5;

    --color-primary-shadow: rgba(0, 0, 0, 0.1);
    --color-header-shadow: rgba(34, 60, 80, 0.12);
    --color-header-fixed-shadow: rgba(0, 0, 0, 0.5);
    --color-input-shadow: rgba(0, 0, 0, 0.15);

    --primary-bshadow: 0px 15px 35px 0px var(--color-primary-shadow);
    --primary-tshadow: 2px 3px 8px var(--color-primary-shadow);
    --primary-lshadow: 0px 3px 10px 1px var(--color-primary-shadow);
    --header-shadow: 4px 4px 8px -2px var(--color-header-shadow);
    --header-fixed-shadow: 0px 5px 15px 0px var(--color-header-fixed-shadow);
    --input-shadow: 0px 10px 30px 0px var(--color-input-shadow);
    --mobile-nav-shadow: 0px -5px 15px 0px var(--color-primary-shadow);

    --color-svg-input: #b9b9b9;

    --color-bg-recomended: rgba(0, 139, 52, 0.7);

    --box-shadow-blocs-dashboard: 0 1px 2px rgba(204, 210, 218, 0.07), 0 2px 4px rgba(204, 210, 218, 0.07), 0 4px 8px rgba(204, 210, 218, 0.07), 0 8px 16px rgba(204, 210, 218, 0.07), 0 16px 32px rgba(204, 210, 218, 0.07), 0 32px 64px rgba(204, 210, 218, 0.07);
}

[data-theme="dark"] {
    --color-primary: #1921B1;
    --color-primary-dark: #080E73;
    --color-primary-hover: #4D54D8;
    --color-primary-hover-dark: #2F3485;
    --color-primary-white: #7277D8;

    --color-primary-dop: #00B945;
    --color-primary-dop-dark: #00782D;
    --color-primary-dop-hover: #37DC74;
    --color-primary-dop-hover-dark: #238B49;
    --color-primary-dop-white: #63DC90;

    --footer-color: #080229;
    --footer-end-color: #0d0633;

    --text-color: #FFFFFF;
    --text-color-light: #555555;
    --text-color-footer-title: #bbbbbb;
    --text-color-footer-border: #333333;
    --text-color-footer-light: #6e7985;
    --color-bg: #161616;
    --color-bg-dashboard: #141926;

    --white: #FFFFFF;
    --gray: #777777;

    --sidebar-color-bg: #fbfbfb;

    --color-border-white: #FFFFFF;
    --color-border: #e8e8e8;
    --color-sidebar-border: #e8e8e8;

    --link-color: #1921B1;
    --link-color-hover: #4D54D8;
    --chalk: #f5f5f5;

    --color-primary-shadow: rgba(0, 0, 0, 0.1);
    --color-header-shadow: rgba(34, 60, 80, 0.12);
    --color-header-fixed-shadow: rgba(0, 0, 0, 0.5);
    --color-input-shadow: rgba(0, 0, 0, 0.15);

    --primary-bshadow: 0px 15px 35px 0px var(--color-primary-shadow);
    --primary-tshadow: 2px 3px 8px var(--color-primary-shadow);
    --primary-lshadow: 0px 3px 10px 1px var(--color-primary-shadow);
    --header-shadow: 4px 4px 8px -2px var(--color-header-shadow);
    --header-fixed-shadow: 0px 5px 15px 0px var(--color-header-fixed-shadow);
    --input-shadow: 0px 10px 30px 0px var(--color-input-shadow);
    --mobile-nav-shadow: 0px -5px 15px 0px var(--color-primary-shadow);

    --color-svg-input: #b9b9b9;

    --color-bg-recomended: rgba(0, 139, 52, 0.7);

    --box-shadow-blocs-dashboard: 0 1px 2px rgba(204, 210, 218, 0.07), 0 2px 4px rgba(204, 210, 218, 0.07), 0 4px 8px rgba(204, 210, 218, 0.07), 0 8px 16px rgba(204, 210, 218, 0.07), 0 16px 32px rgba(204, 210, 218, 0.07), 0 32px 64px rgba(204, 210, 218, 0.07);
}
