.thumbnail-gallery {
    position: relative;
    width: 100%;
    height: 425px;
    display: flex;
    gap: 2px;
    // border-radius: $br-single-image;
    overflow: hidden;

    @media (max-width: 767px) {
        height: 320px;
    }

    @media (max-width: 379px) {
        height: 220px;
    }

    &__first {
        flex-basis: 794px;
        position: relative;

        & a {
            position: relative;
            display: flex;
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: $br-single-image;

            & img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform $scale_tr;

                &:hover {
                    transform: scale($scale);
                }
            }
        }
    }

    &__two {
        display: flex;
        // flex-direction: column;
        gap: 4px;
        flex-basis: 452px;
        flex-shrink: 0;
        flex-grow: 0;
        flex-wrap: wrap;

        @media (max-width: 639px) {
            display: none;
        }

        & a {
            position: relative;
            display: flex;
            overflow: hidden;
            width: calc((100% - 4px) / 2);
            height: auto;
            border-radius: $br-single-image;

            &:nth-child(n+5) {
                display: none;
            }

            & img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform $scale_tr;

                &:hover {
                    transform: scale($scale);
                }
            }
        }
    }

    &__btn {
        position: absolute;
        height: 26px;
        bottom: 10px;
        right: 10px;
        background: #fff;
        padding: 6px;
        border-radius: 3px;
        font-size: 14px;
    }
}
