.rating-stars {
    display: flex;
}

.rating-count {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;

    &__rating {}

    &__otziv {}
}

.rating-views.half-stars {
    display: flex;
    justify-content: center;
    // text-align: center;
}
.rating-views.half-stars .rating-group {
    display: inline-flex;
}
.rating-views.half-stars input {
    position: absolute;
    left: -9999px;
}
.rating-views.half-stars label {
    display: flex;
    margin: 0;
    cursor: pointer;
}
.rating-views.half-stars label svg {
    // margin: 2px;
    height: 18px;
    width: 18px;
    fill: var(--reviews-color, #FDDE2D);
    transition: fill 0.3s;
}
.rating-views.half-stars .hsr {
    padding-right: 0;
    margin-right: -22px;
    width: 22px;
    overflow: hidden;
    z-index: 2;
}
.rating-views.half-stars input:checked ~ label svg {
    fill: #e9e9e9;
}
// .rating-views.half-stars .rating-group:hover label svg {
//     fill: var(--reviews-color, #FDDE2D);
// }
// .rating-views.half-stars .rating-group input:hover ~ label svg {
//     fill: #e9e9e9;
// }

.rating-check.half-stars {
    text-align: center;
}
.half-stars .rating-group {
    display: inline-flex;
}
.rating-check.half-stars input {
    position: absolute;
    left: -9999px;
}
.rating-check.half-stars label {
    display: flex;
    margin: 0;
    cursor: pointer;
}
.rating-check.half-stars label svg {
    margin: 2px;
    height: 20px;
    width: 20px;
    fill: var(--reviews-color, #FDDE2D);
    transition: fill 0.3s;
}
.rating-check.half-stars .hsr {
    padding-right: 0;
    margin-right: -22px;
    width: 22px;
    overflow: hidden;
    z-index: 2;
}
.rating-check.half-stars input:checked ~ label svg {
    fill: #e9e9e9;
}
.rating-check.half-stars .rating-group:hover label svg {
    fill: var(--reviews-color, #FDDE2D);
}
.rating-check.half-stars .rating-group input:hover ~ label svg {
    fill: #e9e9e9;
}

//
.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 30px;
    width: 30px;
    fill: var(--reviews-color);
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: var(--color-svg-form);
}
.full-stars .rating-group:hover label svg {
    fill: var(--reviews-color);
}
.full-stars .rating-group input:hover ~ label svg {
    fill: var(--color-svg-form);
}

.full-stars .full-stars-warning {
    display: none;
    font-size: 10px;
    color: red;
}

.review-success {
    font-size: 18px;
    font-weight: 600;
}
