.archive-glampings {
    display: flex;
    gap: 16px;
    padding-bottom: 40px;

    &__left {
        width: 850px;
        flex: none;
        display: flex;
        gap: 16px;
    }
}

.glampings-filtr {
    width: 210px;
    flex: none;
}

.glampings-items {}

.glampings-map {
    max-width: calc(100% - 850px);
    width: 100%;
}
