.post-type-archive-glampings .site {
    background: var(--chalk);
}

.post-type-archive-glampings.search .site {
    background: var(--color-bg);
}

.archive-glampings {
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 40px;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    &__left {
        width: 860px;
        flex: none;
        display: flex;
        gap: 16px;

        &.no-map {
            width: 100%;

            @media (max-width: 767px) {
                display: flex;
            }
        }

        @media (max-width: 1430px) {
            width: auto;
        }

        // @media (max-width: 1399px) {
        //     width: auto;
        // }

        @media (max-width: 767px) {
            display: none;
        }
    }

    & .rating-count {
        font-size: 12px;
    }

    &__btn-map-mobile {
        position: sticky;
        bottom: 60px;
        display: none;

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            width: 100%;
            z-index: 99;
        }
    }

    &__btn-filtr-vision-mobile {
        display: none;

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

.btn-filtr-vision-mobile {
    display: none;
    transition: all linear .3s;

    @media (max-width: 767px) {
        position: sticky;
        top: 61px;
        z-index: 999;
        margin-bottom: 16px;
        padding: 8px 10px;
        background: #ffffffe3;
        display: flex;
        // justify-content: center;
        width: 100%;
    }

    &__button {
        display: flex;
        gap: 4px;
        align-items: center;
        margin-left: auto;

        & svg {
            transform: rotate(90deg);
        }
    }
}

.glampings-filtr {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
    flex: none;
    background: var(--chalk);

    @media (max-width: 767px) {
        display: none;
        visibility: hidden;
        opacity: 0;
        max-width: 340px;
        width: 100%;
        padding: 16px;

        &.active {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            visibility: visible;
            opacity: 1;
            z-index: 999;
        }
    }

    & button.close-filtr {
        position: fixed;
        top: 10px;
        left: 300px;

        @media (max-width: 334px) {
            left: 284px;
        }
    }
}

.glampings-items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: calc(100% - 288px);
    padding-right: 16px;

    @media (max-width: 1399px) {
        width: calc(100% - 240px);
    }

    @media (max-width: 767px) {
        width: 100%;
        padding-right: 0;
    }

    &.no-sidebar {
        width: 100%;
    }

    &.list {
        flex-direction: column;
        overflow: auto;
        flex-wrap: nowrap;
        height: 82vh;

        & .glamping-item {

            &__thumbnail {
                position: relative;
                width: 210px;
                min-height: 200px;
                height: 100%;
            }
        }

        @media (max-width: 1430px) {
            display: none;
        }

        // @media (max-width: 1399px) {
        //     display: none;
        // }
    }

    &.card {
        height: fit-content;

        & .glamping-item {
            flex-direction: column;
            width: calc((100% - 48px) / 4);
            background: #FFFFFF;

            @media (max-width: 1199px) {
                width: calc((100% - 32px) / 3);
            }

            @media (max-width: 767px) {
                width: calc((100% - 16px) / 2);
            }

            @media (max-width: 499px) {
                width: 100%;
            }

            &__thumbnail {
                position: relative;
                width: 100%;
                height: 200px;
            }

            &__content {
                flex-direction: column;
                // flex: none;

                &__left {
                    flex: none;
                }

                &__bottom {
                    margin-top: 10px;
                }

                &__right {
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: auto;

                    &__btn {

                        &.btn-delete {
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}

.glampings-map {
    display: none;
    max-width: calc(100% - 860px);
    width: 100%;

    &.active {
        display: block;

        @media (max-width: 1430px) {
            max-width: 100%;
            height: 82vh;
        }

        // @media (max-width: 1399px) {
        //     max-width: 100%;
        //     height: 82vh;
        // }

        @media (max-width: 576px) {
            height: calc(100vh - 296px);
        }
    }

    &__content {
        width: 100%;
        height: 100%;

        & .ymaps-2-1-79-balloon {
            border-radius: 12px;
            font-family: "Roboto", sans-serif;
            line-height: 1.2;

            & .ymaps-2-1-79-balloon__content {
                font: 13px / 20px Roboto, sans-serif;
            }

            &.ymaps-2-1-79-balloon_layout_panel {
                border-radius: 0;
            }

            & .ymaps-2-1-79-balloon__layout {
                border-radius: 12px;
            }
        }
    }
}

.balloon-content-body {
    display: flex;
    gap:  8px;
    height: 100%;

    &__img {
        flex: none;
        display: flex;
        height: fit-content;
        border-radius: 8px;
        overflow: hidden;
    }

    &__content {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 1.1;

        &__title {
            font-size: 120%;
            font-weight: 700;
            color: var(--color-primary);
        }

        &__price {
            font-size: 120%;
            font-weight: 700;
        }

        &__address {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            color: var(--text-color-light);
        }

        &__rating {
            display: flex;
            align-items: flex-end;
            gap: 4px;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 8px;
        // justify-content: flex-end;
        width: 24px;
        height: 100%;
        padding: 0 2px;

        &__fav-comp {
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                padding: 2px;

                & svg {
                    width: 100%;
                    height: 100%;

                    & path {
                        fill: var(--text-color-light);
                    }
                }

                &:hover {
                    // background: var(--color-primary);

                    & svg {
                        & path {
                            fill: var(--text-color); //#B42318;
                        }

                        &.add-claim {
                            & path {
                                fill: red;
                            }
                        }
                    }
                }

                &.active {

                    & svg path {
                        fill: #F04438;
                    }

                    &:hover {

                        & svg path {
                            fill: #B42318;
                        }
                    }
                }

                &.btn-add-fav {
                    margin-top: auto;
                }

                &.btn-add-comp {}
            }

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                padding: 2px;

                & svg {
                    width: 100%;
                    height: 100%;

                    & path {
                        fill: var(--text-color-light);
                    }
                }

                &:hover {
                    // background: var(--color-primary);

                    & svg {
                        & path {
                            fill: var(--text-color); //#B42318;
                        }

                        &.add-claim {
                            & path {
                                fill: red;
                            }
                        }
                    }
                }

                &.active {

                    & svg path {
                        fill: #F04438;
                    }

                    &:hover {

                        & svg path {
                            fill: #B42318;
                        }
                    }
                }

                &.glamp-phone {

                    & svg {
                        width: 100%;
                        height: 100%;

                        & path {
                            fill: var(--color-primary-dop);
                        }
                    }
                }

                &.glamp-wa {

                    & svg {
                        width: 100%;
                        height: 100%;

                        & path {
                            fill: var(--color-primary-dop);
                        }
                    }
                }
            }
        }
    }
}

.balloon-content-body-pan {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & .swiper-wrapper {
        height: 140px;
    }

    &__img {
        position: relative;
        display: flex;
        gap: 4px;
        // width: fit-content;

        & img {
            border-radius: 8px;
            overflow: hidden;
        }

        // & img:last-child {
        //     filter: brightness(0.5);
        // }

        &__link {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }

        &__count {
            position: absolute;
            right: 10px;
            top: 20px;
            font-size: 12px;
            color: #fff;
            z-index: 9;
        }
    }

    &__content {
        flex: 2;
        display: flex;
        gap: 6px;
        width: 100%;

        &__info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;

            &__title {
                font-size: 120%;
                font-weight: 700;
                color: var(--color-primary);
            }

            &__rating {
                display: flex;
                // align-items: flex-end;
                gap: 4px;
            }

            &__price {
                font-size: 120%;
                font-weight: 700;
            }

            &__address {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.5;
                color: var(--text-color-light);
            }
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 24px;
            // height: 100%;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                padding: 2px;

                & svg {
                    width: 100%;
                    height: 100%;

                    & path {
                        fill: var(--text-color-light);

                        &.full {
                            display: none;
                        }
                    }
                }

                &:hover {
                    // background: var(--color-primary);

                    & svg {
                        & path {
                            fill: var(--text-color); //#B42318;
                        }

                        &.add-claim {
                            & path {
                                fill: red;
                            }
                        }
                    }
                }

                &.active {

                    & svg path {
                        fill: #F04438;

                        &.full {
                            display: block;
                        }
                    }

                    &:hover {

                        & svg path {
                            fill: #B42318;
                        }
                    }
                }

                // &.btn-add-fav {
                //     margin-top: auto;
                // }

                &.btn-add-comp {}
            }

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                padding: 2px;

                & svg {
                    width: 100%;
                    height: 100%;

                    & path {
                        fill: var(--text-color-light);
                    }
                }

                &:hover {
                    // background: var(--color-primary);

                    & svg {
                        & path {
                            fill: var(--text-color); //#B42318;
                        }

                        &.add-claim {
                            & path {
                                fill: red;
                            }
                        }
                    }
                }

                &.active {

                    & svg path {
                        fill: #F04438;
                    }

                    &:hover {

                        & svg path {
                            fill: #B42318;
                        }
                    }
                }

                &.glamp-phone {

                    & svg {
                        width: 100%;
                        height: 100%;

                        & path {
                            fill: var(--color-primary-dop);
                        }
                    }
                }

                &.glamp-wa {

                    & svg {
                        width: 100%;
                        height: 100%;

                        & path {
                            fill: var(--color-primary-dop);
                        }
                    }
                }
            }
        }
    }
}

.glamping-item {
    position: relative;
    flex: none;
    display: flex;
    border-radius: $border-radius-single;
    background: #FFFFFF;
    overflow: hidden;

    &.compare {
        display: flex;
        flex-direction: column;
        background: var(--color-bg-dashboard);
    }

    &:hover {
        // & img {
        //     transform: scale($scale);
        // }

        & button.btnvib {
            border: 1px solid var(--Primary-700, #3033D1);
            background: var(--Primary-700, #3033D1);
        }

        & .glamping-item__content__title {
            color: var(--Primary-700, #3033D1);
        }
    }

    &__url {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__recommended {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: var(--color-bg-recomended);
        padding: 2px 6px;
        border-radius: 8px;
        z-index: 9;
    }

    &__btns-fav-comp {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 9;

        &__btn-add-fav {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 9;
            width: 30px;
            height: 30px;
            padding: 8px;
        }

        &__btn-add-comp {
            position: absolute;
            top: 40px;
            right: 5px;
            z-index: 9;
            width: 30px;
            height: 30px;
            padding: 8px;

            &.page-favorites {
                top: 5px;
            }
        }
    }

    &__thumbnail {
        overflow: hidden;
        z-index: 4;

        &.compare {
            height: 200px;
        }

        & img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s;

            &:hover {
                transform: scale($scale);
            }
        }
    }

    &__content {
        flex: 1;
        display: flex;
        gap: 12px;
        padding: 16px;

        &.compare {
            flex-direction: column;
        }

        &__left {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__right {
            flex: none;
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 124px;

            &.compare {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }

            &__price {
                display: flex;
                flex-direction: column;
                // margin-bottom: 6px;
                height: 100%;

                & span {
                    display: block;
                    font-size: 12px;

                    &.price-number {
                        font-size: 22px;
                        font-weight: 700;
                    }

                    &.price-text {
                        margin-top: auto;
                        color: var(--text-color-light);
                    }
                }
            }

            &__btn {
                z-index: 99;

                & span {
                    display: block;
                    font-size: 12px;
                    color: var(--text-color-light);
                }
            }
        }

        &__title {
            font-weight: 600;
        }

        &__rating {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }

        &__bottom {
            margin-top: auto;
            font-size: 12px;
            color: var(--text-color-light);

            &__type {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            &__address {

                & a {

                    & svg {

                        path {
                            fill: var(--text-color-light);
                        }
                    }
                }
            }
        }
    }
}

.archive-glampings {

    & .glampings-items {

        &.card {

            & .glamping-item {
                width: calc((100% - 48px) / 4);
                // width: calc((100% - 64px) / 5);

                // @media (max-width: 1649px) {
                //     width: calc((100% - 48px) / 4);
                // }

                @media (max-width: 1439px) {
                    width: calc((100% - 32px) / 3);
                }

                @media (max-width: 1099px) {
                    width: calc((100% - 16px) / 2);
                }

                @media (max-width: 499px) {
                    width: 100%;
                }
            }
        }
    }
}

.swiper-pagination-bullet-active {
    background: #FFFFFF;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;

    &:after {
        font-size: 22px;
    }
}

.glc-icon-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 24px;
    background: #FFFFFF; //var(--color-svg-form);
    border-radius: 12px;
    border: 1px solid var(--color-primary);
    font-weight: 600;
    color: var(--color-primary);

    &:before {
    	content: "";
    	border: solid transparent;
    	position: absolute;
     	top: 100%;
    	left: 50%;
    	border-top-color: var(--color-primary); //var(--color-svg-form);
    	border-width: 4px;
    	margin-left: -4px;
    }

    &.active {
        background: var(--color-primary);
        color: #fff;
        z-index: 99;

        &:before {
        	border-top-color: var(--color-primary);
        }
    }

    &.focus {
        background: var(--color-primary);
        color: #fff;
        z-index: 99;

        &:before {
        	border-top-color: var(--color-primary);
        }
    }
}

// .glc-icon-content:before {
// 	content: "";
// 	border: solid transparent;
// 	position: absolute;
//  	top: 100%;
// 	left: 50%;
// 	border-top-color: #fff;
// 	border-width: 9px;
// 	margin-left: -9px;
// }

.glamping-item:hover  .glc-icon-content {
    background: var(--color-primary);
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
