.glampings-filtr {}

.glcf-scroll {
    height: 82vh;
    overflow: auto;
    padding-right: 8px;

    @media (max-width: 767px) {
        height: 100vh;
    }
}

.glampings-filtr-items {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 767px) {
        width: 88%;
    }

    &__btn-filtr-clear {
        position: fixed;
        width: 40px;
        top: 40%;
        padding: 10px;
        background: #dddddd96;
        border-radius: 8px;
        z-index: 2;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        & svg {
            fill: red;
        }
    }
}

.filtr-item {
    border-radius: $border-radius-single;
    background: #FFFFFF;
    overflow: hidden;

    &__title {
        display: flex;
        gap: 8px;
        align-items: center;
        // justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        cursor: pointer;

        & svg {
            width: 20px;
            height: 20px;
            margin-left: auto;
            transition: transform 0.4s;

            & path {
                fill: var(--color-svg-form);
            }

            &.active {
                transform: rotate(180deg);
            }
        }

        &__count {
            font-weight: 600;
            color: var(--red);

            & svg {
                width: 12px;
                height: 12px;

                & path {
                    fill: red;
                }
            }
        }
    }

    &__options {
        font-size: 14px;

        &.pad12 {
            padding: 12px;
        }

        &.select {
            display: none;
            height: 0;
            opacity: 0;
            visibility: hidden;

            &.active {
                display: flex;
                gap: 4px;
                flex-direction: column;
                height: auto;
                opacity: 1;
                visibility: visible;
                margin: 8px 0;
            }
        }
    }

    &__inputs {
        display: flex;
        gap: 4px;
        padding: 0 12px 12px 12px;
    }

    &__slider {
        padding: 0 26px 12px 26px;
    }

    &.btn-map {
        padding: 12px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.filtr-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background: var(--color-option-hover);
    }

    & svg {
        display: none;

        &.active {
            display: block;
        }
    }
}

ul.item-options-checkbox {
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 0;
    max-height: 300px;
    overflow: auto;

    // scrollbar-color: var(--icon-filtr-color) var(--border-widget-color);     /* «цвет ползунка» «цвет полосы скроллбара» */
    // scrollbar-width: thin;  /* толщина */
    //
    // /* полоса прокрутки (скроллбар) */
    // &::-webkit-scrollbar {
    //     width: 4px; /* ширина для вертикального скролла */
    //     height: 4px; /* высота для горизонтального скролла */
    //     background-color: var(--border-widget-color);
    // }
    //
    // /* ползунок скроллбара */
    // &::-webkit-scrollbar-thumb {
    //     background-color: var(--icon-filtr-color);
    //     border-radius: 2px;
    //     //box-shadow: inset 1px 1px 10px #f3faf7;
    // }
    //
    // &:-webkit-scrollbar-thumb:hover {
    //     background-color: var(--icon-filtr-color);
    // }

    & li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 8px 20px;

        &:hover {
            background: var(--color-option-hover);

            & label .checkmark.fcheckbox {
                background: var(--color-option-hover);
            }
        }

        &:nth-last-child(n+2) {
            margin-bottom: 6px;
        }

        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            margin: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:checked ~ label .checkmark.fcheckbox {
                border: 1px solid var(--color-primary);
                background: var(--color-primary);
            }

            &:checked ~ label span {
                color: var(--link-color);
            }

            &:checked ~ label .checkmark svg {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }

        & label {
            width: 100%;
            display: flex;
            gap: 10px;
            // align-items: center;
            cursor: pointer;

            & svg {

                &:nth-last-child(n+2) {
                    margin-right: 8px;
                }

            }

            & .checkmark.fcheckbox {
                display: flex;
                flex: none;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid var(--color-border-input);
                margin-top: 2px;
                // margin-right: 12px;

                & svg {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    fill: var(--link-color);
                    transition: 0.3s all;

                    & path {
                        fill: #FFFFFF;//var(--link-color);
                    }
                }
            }

            & span {
                font-size: 14px;

                &.name {
                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                &.count {
                    flex: none;
                    margin-left: auto;
                }
            }
        }

        &.active {
            background: #FFFFFF;//var(--border-widget-color);
        }

    }
}

.group-input {
    width: calc((100% - 4px) / 2);

    & label {
        font-size: 14px;
        color: var(--text-color-light); //#A0A9B2;
    }

    & input[type="text"] {
        height: 36px;
        border: 1px solid var(--color-border-input); //#A0A9B2;
        padding: 0 10px;
    }
}

.glc-slider {
    height: 8px;
    border-radius: 4px;
    margin: 16px 0;
}

.glc-slider.noUi-target {
    border: none;
}

.glc-slider .noUi-base {
    border: none;
    border-radius: 4px;
    background: var(--Gray-200, #E4E7EC);
}

.glc-slider .noUi-connect {
    border: none;
    border-radius: 4px;
    background: var(--Primary-600, #3B44E5);
}

.glc-slider .noUi-handle {
    height: 0;
    width: 0;
    top: 0;
    right: 0; /* half the width */
    border-radius: 0;

    &:before {
        top: -13px;
        left: -18px;
        background: none;
        cursor: pointer;
        content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMzciIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNyAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZGRfNTM2XzI4KSI+CjxjaXJjbGUgY3g9IjE4LjIwNDgiIGN5PSIxNCIgcj0iMTIiIGZpbGw9IndoaXRlIi8+CjwvZz4KPGRlZnM+CjxmaWx0ZXIgaWQ9ImZpbHRlcjBfZGRfNTM2XzI4IiB4PSIwLjIwNDgzNCIgeT0iMCIgd2lkdGg9IjM2IiBoZWlnaHQ9IjM2IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+CjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+CjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VBbHBoYSIgdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDEyNyAwIiByZXN1bHQ9ImhhcmRBbHBoYSIvPgo8ZmVNb3JwaG9sb2d5IHJhZGl1cz0iMiIgb3BlcmF0b3I9ImVyb2RlIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0iZWZmZWN0MV9kcm9wU2hhZG93XzUzNl8yOCIvPgo8ZmVPZmZzZXQgZHk9IjIiLz4KPGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMiIvPgo8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwLjA2Mjc0NTEgMCAwIDAgMCAwLjA5NDExNzYgMCAwIDAgMCAwLjE1Njg2MyAwIDAgMCAwLjA2IDAiLz4KPGZlQmxlbmQgbW9kZT0ibm9ybWFsIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfNTM2XzI4Ii8+CjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VBbHBoYSIgdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDEyNyAwIiByZXN1bHQ9ImhhcmRBbHBoYSIvPgo8ZmVNb3JwaG9sb2d5IHJhZGl1cz0iMiIgb3BlcmF0b3I9ImVyb2RlIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0iZWZmZWN0Ml9kcm9wU2hhZG93XzUzNl8yOCIvPgo8ZmVPZmZzZXQgZHk9IjQiLz4KPGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iNCIvPgo8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwLjA2Mjc0NTEgMCAwIDAgMCAwLjA5NDExNzYgMCAwIDAgMCAwLjE1Njg2MyAwIDAgMCAwLjEgMCIvPgo8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluMj0iZWZmZWN0MV9kcm9wU2hhZG93XzUzNl8yOCIgcmVzdWx0PSJlZmZlY3QyX2Ryb3BTaGFkb3dfNTM2XzI4Ii8+CjxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iZWZmZWN0Ml9kcm9wU2hhZG93XzUzNl8yOCIgcmVzdWx0PSJzaGFwZSIvPgo8L2ZpbHRlcj4KPC9kZWZzPgo8L3N2Zz4K');
    }

    &:after {
        display: none;
    }
}
