.compares-main {
    margin-bottom: 40px;

    & .glampings-items.card .glamping-item {
        background: var(--color-bg-dashboard);
    }
}

.favorites-main {
    margin-bottom: 40px;

    & .glampings-items.card .glamping-item {
        background: var(--color-bg-dashboard);
    }
}

.glc-postedit {

    & .entry-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & .cmb2-wrap .cmb-row {
        background: #fbfbfb;
        border-radius: 12px;
        overflow: hidden;
        padding: 8px 10px;

        &.cmb-repeat-group-wrap {
            padding: 0;
            background: none;
        }
    }

    & .cmb-repeatable-group {
        // padding: 0 1em;
        margin: 0;

        & .postbox:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    & .cmb-row.conditional-child {
        display: none;
    }

    & .cmb-th {
        float: none;
        padding: 0;

        & label {
            font-size: 16px;

            & span.required {
                color: red;
            }
        }
    }

    & .cmb-th+.cmb-td {
        float: none;
    }

    & .cmb-td {
        padding: 0;

        & textarea {
            width: 100%;
            border: 1px solid #D7DCE3;
        }
    }

    & .glc-form-group {
        max-width: 800px;
        width: 100%;
    }

    & .glc-form-group-select {
        max-width: 400px;
        width: 100%;

        & select {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #D7DCE3;
            padding: 0 10px;
        }
    }

    & .glc-form-group-number {
        max-width: 300px;
        width: 100%;
    }

    & .glc-form-group-price {
        max-width: 300px;
        width: 100%;

        & .cmb-td {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    & .glc-form-group-thumbnail {
        max-width: 400px;
        width: 100%;
    }

    & .cmb-type-group .cmb-th+.cmb-td {
        float: none;
        width: 100%;
    }

    & .cmb2-wrap .cmb-multicheck-toggle {
        display: flex;
    	justify-content: center;
    	align-items: center;
        width: fit-content;
    	font-size: 12px;
    	font-weight: 600;
    	line-height: 24px;
    	border-radius: 8px;
    	color: var(--Gray-700, #344054);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--White, #FFF);
        margin-top: 0;
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Gray-50, #F9FAFB);
        }
    }

    & .cmb2-upload-button {
        display: flex;
    	justify-content: center;
    	align-items: center;
        width: fit-content;
        height: auto;
    	font-size: 16px;
    	font-weight: 600;
    	line-height: 24px;
    	border-radius: 8px;
    	color: var(--Gray-700, #344054);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--White, #FFF);
        margin-top: 0;
        padding: 4px 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Gray-50, #F9FAFB);
        }
    }

    & .cmb2-upload-list {
        display: flex;
    	justify-content: center;
    	align-items: center;
        width: fit-content;
    	font-size: 16px;
    	font-weight: 600;
    	line-height: 24px;
    	border-radius: 8px;
    	color: var(--Gray-700, #344054);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--White, #FFF);
        margin-top: 0;
        padding: 4px 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Gray-50, #F9FAFB);
        }
    }

    & button.cmb-add-group-row {
        display: flex;
    	justify-content: center;
    	align-items: center;
        width: fit-content;
    	font-size: 16px;
    	font-weight: 600;
    	line-height: 24px;
    	border-radius: 8px;
    	color: var(--Gray-700, #344054);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--White, #FFF);
        margin-top: 0;
        padding: 4px 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Gray-50, #F9FAFB);
        }
    }

    & .cmb-repeatable-group .cmb-group-title {
        background-color: #e9e9e9;
        padding: 8px 12px 8px 2.2em;
        margin: 0 -1.2em;
        min-height: 1.5em;
        font-size: 14px;
        line-height: 1.6;

        & span {
            display: inline-block;
        }
    }

    & .cmb-repeatable-group .postbox {
        padding: 0 10px;
        margin: 0;
    }

    // & .cmb2-wrap .cmb-row:last-of-type {
    //     border-bottom: 1px solid #e9e9e9;
    // }

    & .cmb-repeatable-grouping {
        border: none;
    }

    & input[type="submit"] {
        display: none;
    }

    & .acc-options .cmb-repeatable-group .cmb-row:last-child {
        background: none;

        & .cmb-add-row {
            margin: 0;
        }
    }

    & .cmb2-id-faq-options .cmb-repeatable-group input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        box-shadow: none;
        border-radius: 4px;
        border: 1px solid #D7DCE3;
        padding: 0.5rem 1rem;
    }

    & .cmb2-id-faq-options .cmb-repeatable-group .cmb-row:last-child {
        background: none;

        & .cmb-add-row {
            margin: 0;
        }
    }

    & .cmb-repeatable-group.non-repeatable .cmb-group-title {
        padding-left: 20px;
    }

    & .cmb-repeatable-group.repeatable .cmb-group-title {
        min-height: 39px;
        padding-left: 2.4em;
    }

    & .cmb-type-group .cmb-row:not(:last-of-type) {
        border-bottom: none;
    }

    & .cmb-type-group .cmb-th {
        width: 100%;
    }

    & .cmb2-wrap input.cmb2-timepicker {
        height: 40px;
        border-radius: 4px;
        border: 1px solid #D7DCE3;
    }

    & span.cmb2-metabox-description {
        display: block;
        padding-top: .5em;
    }

    & button.cmb-remove-group-row-button {
        display: inline-flex;
    	justify-content: center;
    	align-items: center;
    	font-size: 12px;
    	font-weight: 600;
    	line-height: 24px;
    	border-radius: 8px;
    	color: var(--White, #FFF);
        border: 1px solid var(--Error-600, #D92D20);
        background: var(--Error-600, #D92D20);
        padding: 0 10px;

        &:hover {
            border: 1px solid var(--Error-700, #B42318);
            background: var(--Error-700, #B42318);
        }
    }

    & .media-modal label {
        @media (max-width: 429px) {
            font-size: 10px;
        }
    }
}

.glc-flex-box {

    & .cmb2-metabox.cmb-field-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.glc-postedit-btn-edit {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.compare-item {
    height: 100%;
    padding: 8px;
    border-radius: 8px;

    &.item-top {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: var(--color-bg-compare-slider-item);
    }

    &__section {
        // height: 100%;

        &.section-bottom-item-top {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }

        &__thumbnail {
            position: relative;
            height: 250px;
            border-radius: 8px;
            overflow: hidden;

            @media (max-width: 899px) {
                height: 200px;
            }

            @media (max-width: 376px) {
                height: 150px;
            }

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {

            & .price-number {
                display: block;
                font-size: 18px;
                font-weight: 500;
            }

            &__yes {
                font-weight: 500;
                color: green;
            }

            &__no {
                font-weight: 500;
                color: red;
            }

            &__text {

                &-green {
                    font-weight: 500;
                    color: green;
                }

                &-red {
                    font-weight: 500;
                    color: red;
                }
            }
        }

        &__url-glemp {
            font-weight: 500;
            color: var(--link-color);

            &:hover {
                color: var(--link-color-hover);
            }
        }
    }

    &.item-options {
        display: flex;
        flex-direction: column;
        gap:26px;
    }
}

.slider-compare-navigation {
    position: absolute;
    width: 100%;
    top: 46%;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid var(--text-color-label);

        & svg {
            fill: var(--text-color-label);
        }

        &:hover {
            background: var(--link-color-hover);
            border: 1px solid var(--link-color-hover);

            & svg {
                fill: #FFFFFF;
            }
        }

        &.slick-disabled {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            border: 1px solid var(--text-color-file-help);

            & svg {
                fill: var(--text-color-file-help);
            }
        }
    }
}

// .swiper-button-next, .swiper-button-prev {
//     color: #000000;
// }

.slider-top {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    // position: relative;
    margin-bottom: 16px;
    z-index: 9;
}

.slick {
    overflow: hidden;

    &-track {
        display: flex;
        margin: 0;
    }

    &-slide {
        height: auto;
        margin: 0 10px;
    }

    &-list {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.form-add-reviews {

    &__stars {
        margin-bottom: 16px;
    }

    &__fields {

        & label[for="reviews_description"] {
            display: block;
            text-align: left;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;

            & span.require {
                color: red;
            }
        }

        & textarea {
            width: 100%;
            height: 140px;
            border-radius: 4px;
            border: 1px solid #D7DCE3;
            padding: 1rem;
            resize: none;

            @media (max-height : 669px){
                height: 92px;
            }
        }
    }

    &__info {
        display: inline-block;
        margin-top: 16px;
    }

    &__button {
        margin-top: 16px;

        & button {
            margin-left: auto;
            margin-right: auto;
        }
    }

    & input[type="submit"] {
        display: none;
    }
}

#load {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 10px;
}

#load .load-img {
    display: block;
    max-width: 150px;
    max-width: calc((100% - 12px) / 4);
    max-height: 100px;
    // height: 100%;
    // margin: 0 5px 5px 0;

    @media (max-width: 429px) {
        max-height: 60px;
    }
}

#load img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5px;
    background: #ccc;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#load p {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

.glc-form-reviews {
    text-align: left;

    & .cmb-th {
        float: none;
        padding: 0;

        & label {

            & span.required {
                color: red;
            }
        }
    }

    & .cmb-td {
        width: 100%;
        padding: 0;

        & ul.cmb-attach-list {

            @media (max-height : 939px){
                max-height: 280px;
                overflow: auto;
                margin-top: 8px;
            }

            @media (max-height : 379px){
                max-height: 120px;
                overflow: auto;
            }
        }
    }
}

.custom-file-container .input-visible {
    text-align: left;
}

.custom-file-container .image-preview {
    max-height: 250px;
    min-height: 50px;
    height: auto;

    @media (max-height : 669px){
        max-height: 120px;
    }
}

.form-add-reviews {
    & span.required {
        color: red;
    }
}

.rating-group {
    & span.required {
        display: inline-flex;
        margin-left: 4px;
        color: red;
    }
}

.form-add-reviews .cmb-type-file-list .cmb2-media-status .img-status {
    margin: 0;
}

.form-add-reviews .cmb2-media-status .img-status .cmb2-remove-file-button {
    left: -1px;
}

span.required {
    color: red;
}

.cmb2-id-reviews-media-gallery input.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    color: var(--Gray-700, #344054);
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    margin-top: 0;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--Gray-50, #F9FAFB);
    }
}

.compare-wrap {}

.slider-top {}

.slider-bottom {
    position: relative;
}

.mySlick2 {
    padding-top: 12px;
}

.compare-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 26px;

        &__item {
            font-size: 14px;
            color: var(--color-primary);
            font-weight: 500;
            margin: 0 10px;
            padding-top: 2px;

            &:not(:first-child) {
                border-top: 1px solid var(--color-border);
            }
        }
    }
}
