.compares-main {
    margin-bottom: 40px;

    & .glampings-items.card .glamping-item {
        background: var(--color-bg-dashboard);
    }
}

.favorites-main {
    margin-bottom: 40px;

    & .glampings-items.card .glamping-item {
        background: var(--color-bg-dashboard);
    }
}

.glc-postedit .cmb-row.conditional-child {
    display: none;
}

.glc-postedit .cmb-row .cmb-th {
    float: none;
    padding: 0;
}

.glc-postedit .cmb-row .cmb-th+.cmb-td {
    float: none;
}

.glc-postedit .cmb-row .cmb-td {
    padding: 0;
}

.glc-postedit .glc-form-group {
    max-width: 800px;
    width: 100%;
}

.glc-postedit .glc-form-group-number {
    max-width: 300px;
    width: 100%;
}

.glc-postedit .cmb-row.cmb-type-group .cmb-th+.cmb-td {
    float: none;
    width: 100%;
}
